
[Unit]
Description=CscpAssist Intermediary Server

[Service]
Type=simple
LimitNOFILE=1000000
ExecStart=/usr/bin/cscpassist-intermediary
WorkingDirectory=/var/lib/cscpassist-server/
User=
Group=
Restart=always
StandardOutput=append:/var/log/cscpassist-server/cscpassist-intermediary.log
StandardError=append:/var/log/cscpassist-server/cscpassist-intermediary.error
# Restart service after 10 seconds if node service crashes
RestartSec=10

[Install]
WantedBy=multi-user.target

